/*
 * created by deepdot on 2017/03/02 19:05
 */
*{
	margin: 0;
	padding: 0;
	/*border: 1px dashed red;*/
}
#index-page{
	/*body样式*/
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-y: hidden;
	font-size: 12px;
}
#index-page .containers{
	/*版心边框*/
	width: 1200px;
	/*min-width: 1200px;*/
	height: 900px;
	margin: 0 auto;
	position: relative;

}
#index-page #backgroundImg,#index-page #mbackgroundImg{
	/*背景图片层*/
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -1;
	box-sizing: border-box;
}
#index-page #mbackgroundImg{
	display: none;
}
#index-page .containers #center{
	/*主题内容区域*/
	width: 1200px;
	padding-top: 40px;
	height: auto;
	margin: 0 auto;
	position: relative;
	/*border:1px dashed red;*/
}
#index-page .containers .box{
	/*元素小模块*/
	position: relative;
	/*text-align: center;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#index-page .containers .headLeft{
	margin-bottom: 5vh;
}
#index-page .containers #center-title{
	/*中部广告语图片外层div*/
	/*margin-top: 10vh;*/
	text-align: center;
}
#index-page .containers #center-title img{
	/*中部广告语图片*/
	margin: 0!important;
	opacity: 0;
}
#index-page .containers .box #img_camera{
	/*底部图片外层div样式*/
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	opacity: 0;
	/*border: 1px dashed white;*/
	/*border: 1px dashed green;*/
}
#index-page .containers .box #img_camera img{
	/*底部产品img样式*/
	position: absolute;
}

/*屏幕适配*/

/*宽度1200px以上*//*宽度1200px以上*//*宽度1200px以上*/
@media  screen and (min-width: 1200px){

	#index-page #backgroundImg{
		width: 100%;
		/*border: 1px dashed yellow;*/
	}
	#index-page #img_camera{
		width: 904px;
		height:35vh;
	}
	#index-page #img_camera{
		left: 50%;
	}
	#index-page #img_camera img{
		margin-left: -50%;
	}
}
/*设备宽度大于768px并且小于1200px*//*设备宽度大于768px并且小于1200px*//*设备宽度大于768px并且小于1200px*/
@media  screen and (min-width: 768px) and (max-width:1200px) {

	#index-page #backgroundImg{
		width: 100%;
		/*border: 1px dashed blue;*/
	}
	#index-page .containers{
		width: 100%;
	}
	#index-page .containers #center{
		width: 100%;
	}
	#index-page .headLeft img{
		margin-left: 30px;
	}
	#index-page .containers #center-title{
		margin:0 auto;
		/*border:1px dashed red;*/
	}
	#index-page .containers #center-title img{
		/*border: 1px dashed red;*/
		width: 80%;
		height:200px;
	}
	#index-page #img_camera{
		left: 5%;
		width: 90%;
		height:35vh;
	}
	#index-page #img_camera img {
		width: 100%;
	}


}

/*宽度小于768px*//*宽度小于768px*//*宽度小于768px*/

@media  screen and (min-width: 300px) and (max-width: 768px) {
	#index-page{
		overflow: hidden;	
	}	
	#index-page .headLeft img{
		width: 30vw;
		margin-left: 5vw;
	}
	#index-page #backgroundImg{
		display: none;
	}
	#index-page #mbackgroundImg{
		display: block;
	}
	#index-page .containers{
		width: 100%;
		min-width: 300px;
		/*border: 1px solid red;*/
	}
	#index-page .containers #center{
		width: 100%;
	}
	#index-page .containers #center-title{
		padding-top: 8vh;
	}
	#index-page .containers #center-title>img{
		width: 80vw;
		height: 27vw;
		/*border: 1px dashed red;*/
		/*height:22vh;*/
		/*border: 1px dashed red;;*/
	}
	#index-page #img_camera{
		/*border: 1px dashed red;*/
		left: 0;
		width: 100%;
		height:22vh;
	}
	#index-page #img_camera img{
		width: 100%;
	}
}


/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/*样式切换class*/
.showImg{
	display: block;
}
.hidImg{
	opacity: 0;
}
