/*created by liujianwen 2017.03.30.21.27*/ 
/*最外圈光点旋转*/
@-moz-keyframes out{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
@-moz-keyframes outliner{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(-180deg);}
	100%{transform: rotate(-360deg);}
}


@keyframes out{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
@keyframes outliner{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(-180deg);}
	100%{transform: rotate(-360deg);}
}